---
import { Image } from "astro:assets";
import AboutHeroImage from "../assets/about/profile.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="안녕하세요. 개발자 주도현입니다."
    description="안녕하세요. 개발자 주도현입니다."
    pubDate={new Date("2026-01-03")}
>
    <Image
        src={AboutHeroImage}
        alt="About Hero Image"
        class="w-full aspect-video object-contain object-top mb-4 bg-stone-200"
    />
    <h3>주도현</h3>
    <ul class="mb-2 list-disc list-inside space-y-2">
        <li>1994년 4월 17일 출생</li>
        <li>안산공업고등학교 졸업</li>
        <li>경희대학교 시각디자인과 졸업</li>
        <li>방송통신대학교 컴퓨터과학과 재학</li>
    </ul>
    <div class="h-4"></div>
    <div>
        <h5>Contacts</h5>
        <ul class="mb-2 list-disc list-inside space-y-2">
            <li>
                Email: <a href="mailto:syate@naver.com">syate@naver.com</a>
            </li>
            <li>
                GitHub: <a href="https://github.com/dohyeon2"
                    >https://github.com/dohyeon2</a
                >
            </li>
        </ul>
    </div>
    <br />
    <p>
        세상의 원리를 이해하고 싶은 개발자 주도현입니다. 경희대학교
        시각디자인과를 졸업하여 미술학사를 취득하였으며, 개발자로서 커리어를
        더욱 단단하게 쌓아가고자 방송통신대학교 컴퓨터과학과 재학중에 있습니다.
    </p>
    <p>
        PHP로 개발을 입문하여 웹을 이해하기 위해 정진했습니다. 그 후 React의
        발전에 따라 JS 개발자가 되었습니다. 러닝커브도 리소스라는 생각을 기반해
        백엔드 또한 JS를 사용한 Nest.js를 출발지로 하면서, JS기반의 풀스택
        개발자로 성장하였습니다. 현재는 JS라는 언어와 Next.js, Nest.js 와 같은
        프레임워크를 넘어 웹 생태계 전반, 그 너머의 컴퓨터 공학 그리고 우리 사회
        그 자체를 이해하는데 관심을 가지고 있습니다.
    </p>
    <p>
        개발을 처음 시작할 때 부터, 코드나 언어 그 자체보다 생태계를 이해하는게
        중요하다고 생각했습니다. 생활코딩을 통해 HTTP, DNS를 이해하고자 여러
        영상을 봤던 기억이 납니다. 코드는 표현입니다. 말을 잘하는 것과 같은
        기교입니다. 말에서 중요한 것이 화려한 기교보다 전달하고자 하는 것 그
        자체이듯, 프로그램도 다르지 않다고 생각합니다. 때문에 설계를 그저
        기술하는 오퍼레이터가 아니라, 프로그램의 목적에 맞는 설계를 하고자
        공부하고있습니다.
    </p>
</Layout>
